body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #6d5dfc;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyDark: #9baacf;
  --primary-dark: #6d5dfc;
  --greyLight-1-dark: #1f2133;
  --greyLight-2-dark: #2b2d45;
  --greyDark-dark: #25273c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 310px;
  padding: 0 20px;
}

.components {
  width: 100%;
  max-width: 550px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.header h1 {
  letter-spacing: 10px;
  color: #fff;
}

.header button {
  background: none;
  border: none;
}

.form {
  margin: 30px 0 20px 0;
  display: flex;
}

.wrapper .form input,
.wrapper .editForm input {
  width: calc(100% - 50px);
  height: 60px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 30px;
  box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #fff;
  ;
  font-size: 16px;
  background: var(--greyLight-1);
  color: #707a96;
  outline: none;
}

.wrapper .form input::placeholder,
.wrapper .editForm input::placeholder {
  color: #888fa3;
}

.wrapper.dark .form input,
.wrapper.dark .editForm input {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
  ;
  background: var(--greyDark-dark);
  color: #707a96;
}

.form input:focus,
.editForm input:focus {
  box-shadow: none;
}

.wrapper .form button {
  width: 50px;
  height: 60px;
  background: var(--greyLight-1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: .2s ease;
  border: none;
}

.wrapper.dark .form button {
  background: var(--greyDark-dark);
}

.form button svg {
  transform: rotate(45deg);
}

.wrapper .form button:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
}

.wrapper.dark .form button:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.list {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.wrapper .list .todo-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 70px;
  gap: 50px;
  align-items: center;
  background-color: var(--greyLight-1);
  padding: 0 20px 0 15px;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
}

.wrapper.dark .list .todo-item {
  background-color: var(--greyLight-2-dark);
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.list .todo-item:hover,
.wrapper.dark .list .todo-item:hover {
  box-shadow: none;
}

.list .todo-item .label {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(100% - 20px);
}

.list .todo-item .label .checkbox input {
  display: none;
}

.wrapper .list .todo-item .label .checkbox input:checked~label {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
}

.wrapper.dark .list .todo-item .label .checkbox input:checked~label {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.list .todo-item .label .checkbox input:checked~label i {
  color: var(--primary);
}


.list .todo-item .label .checkbox {
  width: 30px;
  display: flex;
  justify-content: center;
}

.wrapper .list .todo-item .label .checkbox label {
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.wrapper.dark .list .todo-item .label .checkbox label {
  box-shadow: .3rem .3rem .6rem var(--greyLight-1-dark),
    -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.list .todo-item .label .checkbox label i {
  font-size: 20px;
  font-weight: 700;
  color: var(--greyDark);
  transition: .3s ease;
}

.list .todo-item .label .checkbox label:hover i {
  color: var(--primary);
}

.list .todo-item .label h3 {
  color: #707a96;
  font-size: 18px;
  font-weight: 500;
  overflow-wrap: anywhere;
  margin: 10px 0;
}

.list .todo-item button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper .list .todo-item .icon__home {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.wrapper.dark .list .todo-item .icon__home {
  box-shadow: .3rem .3rem .6rem var(--greyLight-1-dark),
    -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.wrapper .list .todo-item .icon__home:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
  color: var(--primary);
}

.wrapper.dark .list .todo-item .icon__home:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.list .todo-item:hover button {
  display: block;
}

.wrapper .editForm {
  width: 96.5%;
  display: flex;
  position: absolute;
  z-index: 1;
  right: 10px;
  gap: 5px;
  background-color: var(--greyLight-1);
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
}

.wrapper.dark .editForm {
  background-color: var(--greyDark-dark);
  box-shadow: .3rem .3rem .6rem var(--greyLight-1-dark),
    -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.editForm input {
  border-radius: 10px;
  height: 45px;
}

.editForm button {
  display: block !important;
  font-size: 20px;
  cursor: pointer;
  width: 45px;
  color: var(--greyDark);
}

.wrapper .editForm button:active {
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
}

.wrapper.dark .editForm button:active {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.wrapper .filters {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: var(--greyLight-1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper.dark .filters {
  background-color: var(--greyDark-dark);
}

.filters>p {
  color: var(--greyDark);
  cursor: pointer;
}

.filters .clear:hover {
  color: red;
}

.wrapper .segmented-control {
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper.dark .segmented-control {
  box-shadow: .3rem .3rem .6rem var(--greyLight-1-dark),
    -.2rem -.2rem .5rem var(--greyLight-2-dark);
}

.segmented-control input {
  display: none;
}

.segmented-control>input:checked+label {
  transition: all .5s ease;
  color: var(--primary);
}

.segmented-control__1,
.segmented-control__2,
.segmented-control__3 {
  width: max-content;
  padding: 0 20px;
  height: 45px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.segmented-control__1:hover,
.segmented-control__2:hover,
.segmented-control__3:hover {
  color: var(--primary);
}


.wrapper .segmented-control__color {
  position: absolute;
  height: 35px;
  margin-left: .3rem;
  border-radius: 10px;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
  pointer-events: none;
}

.wrapper.dark .segmented-control__color {
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-1-dark),
    inset -.2rem -.2rem .5rem var(--greyLight-2-dark);
}


#tab-1:checked~.segmented-control__color {
  width: 50px;
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked~.segmented-control__color {
  width: 70px;
  transform: translateX(60px);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked~.segmented-control__color {
  width: 110px;
  transform: translateX(140px);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width:576px) {
  .wrapper .filters {
    height: 60px;
  }

  .wrapper .segmented-control {
    position: absolute;
    bottom: -60px;
    background-color: var(--greyLight-1);
  }

  .wrapper.dark .segmented-control {
    background-color: var(--greyDark-dark);
  }
}